@font-face {
  font-family: Determination Mono;
  src: url("/fonts/DTM-Mono.otf");
}

body {
  background-color: black;
  font-family: "Determination Mono";
  font-size: 22px;
  margin-left: 10%;
  margin-right: 20%;
  cursor: none;
}

h1,
h2,
p,
figcaption,
h3,
h4,
li,
a {
  color: white;
  cursor: none;
}

a {
  color: white;
  text-decoration: none; // changed from text-decoration:underline
}

a:hover {
  text-decoration: underline; // changed from text:decoration:none
}

a {
  cursor: none;
}

.winner {
  cursor: none;
}

img {
  height: 20%;
  width: 20%;
}

.gun {
  height: 50%;
  width: 50%;
}

.pipis {
  height: 10%;
  width: 10%;
}
