body {
  background-color: beige;
  margin-left: 500px;
  margin-right: 300px;
  margin-top: 100px;
}

h1,
p,
a,
h3,
figcaption {
  font-family: Arial, Helvetica, sans-serif;
  color: forestgreen;
}

a {
  text-decoration: none; // changed from text-decoration:underline
}

a:hover {
  text-decoration: underline; // changed from text:decoration:none
}

#game {
  width: 600px;
}

#bamboo1 {
  width: 140px;
  height: 130px;
  float: left;
  background-image: url(/img-redpanda/bambooc.png);
  background-size: 100%;
}

#bamboo2 {
  width: 140px;
  height: 130px;
  float: left;
  background-image: url(/img-redpanda/bambooc.png);
  background-size: 100%;
}

#bamboo3 {
  width: 140px;
  height: 130px;
  float: left;
  background-image: url(/img-redpanda/bambooc.png);
  background-size: 100%;
}

#bamboo4 {
  width: 140px;
  height: 130px;
  float: left;
  background-image: url(/img-redpanda/bambooc.png);
  background-size: 100%;
}

#bamboo5 {
  width: 140px;
  height: 130px;
  float: left;
  background-image: url(/img-redpanda/bambooc.png);
  background-size: 100%;
}

#bamboo6 {
  width: 140px;
  height: 130px;
  float: left;
  background-image: url(/img-redpanda/bambooc.png);
  background-size: 100%;
}

#bamboo7 {
  width: 140px;
  height: 130px;
  float: left;
  background-image: url(/img-redpanda/bambooc.png);
  background-size: 100%;
}

#bamboo8 {
  width: 140px;
  height: 130px;
  float: left;
  background-image: url(/img-redpanda/bambooc.png);
  background-size: 100%;
}

#bamboo1:hover {
  background-image: url(/img-redpanda/questionMark.png);
  background-size: 140px 130px;
  cursor: pointer;
}

#bamboo2:hover {
  background-image: url(/img-redpanda/questionMark.png);
  background-size: 140px 130px;
  cursor: pointer;
}

#bamboo3:hover {
  background-image: url(/img-redpanda/questionMark.png);
  background-size: 140px 130px;
  cursor: pointer;
}

#bamboo4:hover {
  background-image: url(/img-redpanda/questionMark.png);
  background-size: 140px 130px;
  cursor: pointer;
}
#bamboo5:hover {
  background-image: url(/img-redpanda/questionMark.png);
  background-size: 140px 130px;
  cursor: pointer;
}

#bamboo6:hover {
  background-image: url(/img-redpanda/questionMark.png);
  background-size: 140px 130px;
  cursor: pointer;
}
#bamboo7:hover {
  background-image: url(/img-redpanda/questionMark.png);
  background-size: 140px 130px;
  cursor: pointer;
}

#bamboo8:hover {
  background-image: url(/img-redpanda/questionMark.png);
  background-size: 140px 130px;
  cursor: pointer;
}

#bamboo1:active {
  background-image: url(/img-redpanda/snowLeopard1.jpg);
}

#bamboo2:active {
  background-image: url(/img-redpanda/snowLeopard2.jpg);
}

#bamboo3:active {
  background-image: url(/img-redpanda/redPanda1.jpg);
}

#bamboo4:active {
  background-image: url(/img-redpanda/snowLeopard3.jpg);
}

#bamboo5:active {
  background-image: url(/img-redpanda/redPanda3.jpg);
}

#bamboo6:active {
  background-image: url(/img-redpanda/redPanda5.jpg);
}

#bamboo7:active {
  background-image: url(/img-redpanda/snowLeopard3.jpg);
}

#bamboo8:active {
  background-image: url(/img-redpanda/snowLeopard1.jpg);
}

@keyframes drop {
  0% {
    left: 0px;
    top: -700px;
    opacity: 0;
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}

html {
  position: relative;
  animation-name: drop;
  animation-duration: 1s;
}
