body {
  margin-top: 50px;
  background-image: url("/img/javaplaybg.png");
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}

p,
form,
button,
div,
a,
figcaption {
  font-family: "Merriweather Sans", sans-serif;
}

a {
  color: rgb(255, 115, 0);
}

a {
  text-decoration: none; // changed from text-decoration:underline
}

a:hover {
  text-decoration: underline; // changed from text:decoration:none
}

a:active {
  color: rgb(255, 38, 0);
}


button:active,
#checkbox:active {
  transform: scale(1.1);
}

button {
  background-color: rgb(255, 196, 0);
  color: rgb(61, 61, 61);
  border-radius: 6px;
  cursor: none;
}

input {
  border-radius: 6px;
}



@keyframes drop {
  0% {
    left: 0px;
    top: -700px;
    opacity: 0;
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}
html {
  position: relative;
  animation-name: drop;
  animation-duration: 1s;
}