a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(228, 46, 0);
}

a {
  text-decoration: none; // changed from text-decoration:underline
}

a:hover {
  text-decoration: underline; // changed from text:decoration:none
}

body {
  background-color: rgb(255,227,214);
  margin-left: 250px;
  margin-right: 150px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(131, 52, 0);
}

h2, h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p,
figcaption {
  font-family: Arial, Helvetica, sans-serif;
}

img { 
  cursor: pointer;
  height: 23%;
  width: 23%;
}

img:hover {
  transition: all .1s ease-out; 
  animation-name: bounceButton;
  animation-duration: .5s;
}

@keyframes bounceButton {
  0% {
      transform: scale(1);
  }
  25% {
      transform: scale(0.88);
  }
  50% {
      transform: scale(0.93);
  }
  75% {
      transform: scale(0.90);
  }
  100% {
    transform: scale(1);
}
}



@keyframes drop {
  0% {
    left: 0px;
    top: -700px;
    opacity: 0;
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}

html {
  position: relative;
  animation-name: drop;
  animation-duration: 1s;
}