body {
    background-image: url(https://i.gifer.com/1ez9.gif);
    background-size: cover;
    cursor: url('/main/image/cur/arrow.png'), auto;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
  }

html {
    cursor: url('/main/image/cur/arrow.png'), auto;
    
}

p, a {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}

a, button {
  cursor: pointer;
}

h1,
a:hover, h4 {
    background-image: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 10s linear infinite;
    
}

h1 {
  text-shadow: 120px 80px 10px black;
}

@keyframes move {
    to {
      background-position: 100vh;
    }
  }


  #gallerywrapper {
    width:640px;
    height:450px;
    position:relative;
} 

#gallerywrapper #gallery {
    position:absolute;
    left:0;
    top:0;
    height:450px;
    width:640px;
    overflow:hidden;
    text-align:center;
} 

#gallerywrapper #gallery div {
    width:640px; height:900px; 
    padding-top:10px; 
    position:relative;
} 

#gallerywrapper #gallery div img {
    clear:both; 
    display:block; 
    margin:0 auto; 
    border:0;
} 

#gallerywrapper #gallery div h3 {
    padding:10px 0 0 0; 
    margin:0; 
    font-size:18px;
} 

#gallerywrapper #gallery div p {
    padding:5px 0; 
    margin:0; 
    font-size:12px; 
    line-height:18px;
} 

#gallery .previous{ 
    display:inline;
    float:left;
    margin-left:80px;
    text-decoration:none;
} 

#gallery .next{ 
    display:inline;
    float:right;
    margin-right:80px;
    text-decoration:none;
}

::selection {
  background: #0004ff;
  color: #ffffff;
}

.window {
  position: absolute;
}




#google_translate_element select:hover{
  background-image: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 10s linear infinite;
}


body > .skiptranslate {
  display: none;
}



.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none !important;
}

.VIpgJd-suEOdc, .VIpgJd-yAWNEb-L7lbkb, .VIpgJd-ZVi9od-aZ2wEe-wOHMyf, .VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none !important;
}

body {
  top: 0px !important; 
  }
  
  .goog-logo-link {
      display:none !important;
  } 
      
  .goog-te-gadget {
      color: transparent !important;
  }
  
  .goog-te-banner-frame.skiptranslate {
  display: none !important;
  } 

#google_translate_element {
  margin-left: 90px;
}