a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(228, 46, 0);
}

a {
  text-decoration: none; // changed from text-decoration:underline
}

a:hover {
  text-decoration: underline; // changed from text:decoration:none
}

button, a {
  cursor: pointer;
}

html, * {
  cursor: none;
}

body {
  background-image: url(/misc/misc-img/comixbg.png);
  margin-left: 250px;
  margin-right: 250px;
}


h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(131, 52, 0);
}

h2, h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p,
figcaption { 
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes drop {
  0%   {left:0px; top:-700px; opacity: 0;}
  100%  {left:0px; top:0px; opacity: 1;}
}

html {
  position: relative;
  animation-name: drop;
  animation-duration: 0.75s;
  }

/* Style The Dropdown Button */
.dropbtn {
  background-color: rgb(255, 217, 112);
  color: rgb(0, 0, 0);
  padding: 5px 30px;
  font-size: 16px;
  border: none;
  cursor: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 4px 5px;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(255, 193, 112);
}